; vim: set fileencoding=utf-8 :
; Sun Aug 21 09:26:51 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.bio.spear
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
