setuptools
bob.extension
bob.blitz 
bob.core 
bob.io.base 
bob.learn.activation
bob.math 
bob.sp 
bob.ap
bob.learn.linear 
bob.learn.em 
bob.measure 
bob.db.base
bob.bio.base
matplotlib   # for plotting
